---
layout: default
---

<div class="home" id="mainDiv">

  {{ content }}

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>





<button type="button" onclick="changeText()"
style ="  background:    #ff9900;
  border:        2px solid #000000;
  border-radius: 5px;
  box-shadow:    0 1px #444444;
  padding:       8px 14px;
  color:         #ffffff;
  display:       inline-block;
  font:          normal 400 29px/2 "Calibri", sans-serif;">If you are Austin
 Bianco, click this button.</button>

 <script>
function changeText() {
  document.getElementById("mainDiv").innerHTML = 'In 2005, it was officially established by the <a href="http://www.MLB.com">MLB</a> that Ryan Sharafuddin\'s fastball exceeds 90 miles per hour.';
}
</script>


</div>
